{% extends "base.html" %}
{% block content %}
<h1 class="mb-4 text-center">➕ Add a New Song</h1>

<form method="POST">
    <div class="row g-3">
        <div class="col-md-6"><input class="form-control" name="artist" placeholder="Artist" required></div>
        <div class="col-md-6"><input class="form-control" name="title" placeholder="Title" required></div>
        <div class="col-md-6"><input class="form-control" name="song" placeholder="Song"></div>
        <div class="col-md-6"><input class="form-control" name="label" placeholder="Label"></div>
        <div class="col-md-6"><input class="form-control" name="podcast_played_on" placeholder="Podcast Played On"></div>
        <div class="col-md-4"><input class="form-control" name="genre" placeholder="Genre"></div>
        <div class="col-md-4"><input class="form-control" name="bpm" placeholder="BPM" type="number"></div>
        <div class="col-md-4"><input class="form-control" name="song_key" placeholder="Key"></div>
        <div class="col-md-6"><input class="form-control" name="album_art_url" placeholder="Album Art URL"></div>
        <div class="col-md-6"><input class="form-control" name="preview_url" placeholder="Preview URL"></div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-success px-5">Add Song</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary ms-3">Back</a>
    </div>
</form>
{% endblock %}
